/** head **/
@font-face {
    font-family: Comfortaa;
    src: url(font/Comfortaa/static/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: Vujahday_Script;
    src: url(font/Vujahday_Script/VujahdayScript-Regular.ttf);
}
@font-face{
    font-family: Playwrite_DE_SAS;
    src: url(font/Playwrite_DE_SAS/Playwrite_DE_SAS/PlaywriteDESAS-VariableFont_wght.ttf);
}
*{
    font-family: Comfortaa;
}
:root{
    --green_one: rgb(1, 104, 1);
    --green_two: rgb(3, 73, 3);
    --green_three: rgb(0, 45, 0);
    --green_four: rgba(0, 0, 0, 0.5);
    --green_five: rgb(0, 26, 0);
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
}
hr{
    color: aliceblue;
}
/** nav **/


.navbar{
    background-image: linear-gradient(to left, var(--green_two), green);
    font-size: 25px;

}
.nav_tag_home{
    margin-left: 40px;
    padding: 30px;
    

}
ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
}
li{
    display: inline
}
li a {
    text-decoration: none;
    color: white;
    line-height: 70px;
}
.nav_link{
    padding: 30px;
}
nav ul li :hover{
    background-image: linear-gradient(to left, var(--green_two), var(--green_three));
}

/** hero_img **/
.hero_img{
    background-image: url("Dairy-img/hero_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    justify-content: center;
    display: flex;
    height: 550px;
}
.hero_topic{
    font-family: Playwrite_DE_SAS;
    font-size: 70px;
	color: whitesmoke;
    text-align: center;
}
.hero_img_dairy_products{
    background-image: url("Dairy-img/ice-cream.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    justify-content: center;
    display: flex;
    height: 550px;
}
.hero_topic_dairy_products{
    font-family: Playwrite_DE_SAS;
    font-size: 70px;
	color: whitesmoke;
    text-align: center;
    margin-top: -1%;
}
.hero_img_development{
    background-image: url("Dairy-img/pexels-matthiaszomer-422218.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    justify-content: center;
    display: flex;
    height: 550px;
}

/** topic **/

.topic{
    text-align: center;
    position: fixed;
    color:antiquewhite;
    width: 100%;
    padding: 20px;
    font-size: 125px;
    background-color: var(--green_four);

}
/** P **/
p{
    font-size: 25px;
    line-height: 40px;
}
.p_topic{
    margin-top: -9px;
    font-size: 40px; 
}
.p_1{
    margin-left: 47%;
    margin-top: -375px;
}
.mid_background{
    background-color: rgb(234, 223, 209);
    padding: 30px;

}
.p_mid{
    font-family: Vujahday_Script;
    font-size: 40px;
    margin-left: 10%;

}

/** img **/
.img-1{
    height: 40%;
    width: 40%;
    margin-left: 3%;
    margin-top: 100px;
}
.img-3{
    height: 400px;
    width: 35%;
    margin-left: 10%;
    margin-top: 100px;
}
.img-mid{
    height: 400px;
    width: 35%;
    margin-left: 10%;
    margin-top: 100px;
}

/*** mig_img_three ***/
.mid_mig_three{
    margin-left: 15%;
    width: 80%;
    height: 60%
}

.img_mid_three_parent{
    display: grid;
    margin-top: 20%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.mid_img_p{
    margin-left: 15%;
}



.mid_mig_three-2{
    margin-left: 5%;
    width: 80%;
    height: 50%
}
.img_mid_three_parent-2{
    display: grid;
    margin-top: 10%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.mid_img_p-2{
    margin-left: 5%;
}


.img_mid_grid_three-1{
    grid-area: 2 / 1 / 2 / 2;
}

.img_mid_grid_three-2{
    grid-area: 2 / 2 / 2 / 3;
}

.img_mid_grid_three-3{
    grid-area: 2 / 3 / 2 / 4;
}


/** button_learn_more **/
.learn_more_background {
    background-color: var(--green_one);
    padding: 40px;
    text-align: center;
}

.p_footer_learn_more {
    font-family: "Vujahday_Script", cursive;
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 20px;
}

.parent_learn_more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_learn_more {
    font-size: 25px;
    padding: 12px 24px;
    border-radius: 10px;
    border: solid 2px aliceblue;
    background: transparent;
    transition: 0.4s;
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
}

.button_learn_more:hover {
    background-color: aliceblue;
    border-color: black;
    color: black;
}

/** button_book **/


.button_book{
    font-size: 25px;
    margin-left: 70%;
    padding: 0.5%;
    transition-duration: 0.4s;
    border-radius: 10%;
    border: solid black;
}
.button_book:hover{
    background-color: var(--green_three);
    color: aliceblue;
    border: solid aliceblue;
}

.topic_footer_book{
    padding: 2%;
    color:aliceblue;
    font-family: Vujahday_Script;
    font-size: 50px;
    margin-left: 5%;
}
.p_book_infor{
    color: aliceblue;
    font-size: 30px;
    margin-left: 5%;
}
.p_book{
    font-family: Vujahday_Script;
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}

.parent_book{
    margin-left: -80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.grid_book{
    grid-area: 2 / 1 / 1 / 3;
}
.p_book_topic_background{
    background-color: var(--green_three);
    padding: 0.5%;
}
.book_background{
    background-color:var(--green_three);
}
